# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Eclipse / STS Metadata
.metadata/
.recommenders/
RemoteSystemsTempFiles/
.springBeans
.sts4-cache

# Gradle files in subprojects
.gradle/
**/build/
**/bin/
**/out/

# IDE settings
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Log files
*.log

# Crashlytics config (if any)
crashlytics-platform.properties
