<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/save" method="post">
        제     목: <input type="text" name="title"/><br/>
        작  성  자: <input type="text" name="writer"/><br/>
        비 밀 번 호: <input type="text" name="pass"/><br/>
        내      용: <textarea type="text" name="contents"></textarea><br/>
        <input type="submit" value="작성하기">
    </form>
</body>
</html>